@font-face { 
    font-family: Fira Sans BGR; 
    src:url(../fonts/FiraSansBGR/FiraSansBGR-Regular.woff);
    font-weight: normal; 
    }

* {
    font-family: "Fira Sans BGR";
    color: #333333 !important;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}

.bgr-main {
    background: #21659e;
}

.main-color {
    color: #21659e !important;
}


/* Header and top bar*/

#topbar {
    min-height: 40px;
    padding: 10px 0px;
    border-bottom: 1px solid #e4e4e4;
    padding-top: 15px;
}


#topbar a{
   text-decoration: none;
   font-weight: 400;
}

header {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 1px;
}

.navbar {
    background: #21659e;
}

#imageLogo {
    width: 320px;
}

a.nav-link.active {
    border-bottom: 2px solid #fff;
    color: #fff !important;
    border-top: 2px solid transparent;

}

a.nav-link{
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    transition: 500ms;
    font-size: 15px;
    color: #fff !important;
    padding:0px !important;
}

.navbar-toggler {
    border-color:#fff;
}

.navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
    box-shadow: unset  !important;
}

.nav-item {
    padding:10px !important;
}

header .nav-item:first-child {
    padding-left:0px !important;
}

a.nav-link:hover {
    border-bottom: 2px solid #fff;
    color: #fff !important;
}

/**/

/* Slider */
#slider {
    margin-top: -1px; 
}

.carousel-item.active img {
    filter: brightness(0.5);
}

.centered-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-heading h1 {
    text-shadow: 1px 1px 2px #333333;
}
/**/

/* Left Sidebar */

a.left-link {
    background: #21659e;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    text-decoration: none;
    transition: 100ms;
    margin-bottom: 20px;
    min-height: 80px;
    word-break: break-word;
}

a.left-link:hover {
    transform: scale(1.02);

    span.link-text  {
        transform: scale(1.02);
    }

    span.left-link-icon i {
        transform: scale(1.02);
    }
}

span.link-text {
    width: 100%;
    color: #fff !important;
    text-align:start;
    font-size: 18px;
}

span.left-link-icon i {
    font-size: 38px;
    line-height: normal;
    display: block;
    margin:0px 12px;
}
/**/

/* Form and Public Consultations*/

.info-consul {
    text-align: right;
}

.info-consul h4{
font-size: 18px !important;
}

.public-constultation {
    padding: 60px 0px;
}

.form{
    position: relative;
}

.form .fa-search{
    position: absolute;
    left: 20px;
    color: #9ca3af;

}

.form span{
    position: absolute;
    right: 17px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{
    height: 40px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
      
    }

    .search input{
     height: 40px;
     text-indent: 25px;
     font-size: 14px;
    }


    .search input:focus{
     box-shadow: none;
    }

    .search .fa-search{
     position: absolute;
     top: 12px;
     left: 13px;
    }

    .search button{
        position: absolute;
        top: 0px;
        right: 0px;
        height: 40px;
        width: auto;
        color: #fff !important;
       background : #21659e !important;
        align-items: center;
        display: flex;
        font-size: 15px;
        border-radius: 4px;

    }

    .filter-results select {
        font-size: 14px !important;
    }
    
    .search-inputs {
        border-right: 1px solid #e4e4e4 ;
        padding: 0px 30px 30px 15px;
    }
    
    .home-results {
        padding: 0px 15px 0px 30px;
    }
    
    .home-results .row {
     margin-bottom: 30px;
    }
    
    .home-results .row:last-child {
        margin-bottom: 0px;
       }
    
    .all-consultations h3 {
        font-size: 20px !important;
        font-weight: 600;
    }

    a.consul-item p {
        margin-bottom: 10px;
    }
    
    .consul-item {
        text-decoration: none !important;
    }
    
    .consult-body {
        padding: 20px;
        width: 100%;
    }
    
    .meta-consul {
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }
    
    .single-consultation {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 4px;
        transition: all 200ms;
    }

    .single-consultation:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 4px !important; 
    }
    
    .consult-img-holder {
        min-width: 150px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        background: #fafafa;

        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }
    
    .consult-img {
        height: 100%;
        object-fit: cover;
        width: 200px;
    }
    
    .fa-arrow-right.read-more , .consul-cat{
        color: #21659e !important;
        font-weight: 600;
    }
    
    .filter-results label {
        font-weight: 600;
        font-size: 15px;
    }
    
    .rss-sub i {
        margin-right: 5px;
    }
    
    .consult-img-holder i {
        font-size: 60px;
    }
    

/**/


/* Box with icons and links */

#usefull-links {
    padding: 60px 0px;
    background: #fafafa;
}


a.box-link {
    display: flex;
    transition: 250ms;
    text-decoration: none;
    color: #fff !important;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

a.box-link:hover {
    transform: scale(1.05);
}

a.box-link span{
    color: #fff !important;
    font-size: 18px;
    line-height: normal;
}

.icon-wrap {
    padding: 15px;
}

.icon-wrap i {
    font-size: 64px;
}

.link-heading {
    padding: 0px 15px 15px 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

}


.page-item.active a{
background: #21659e !important;
color: #fff !important;
border-radius: 4px;
}

.page-link {
    border:unset;
}

/**/


input, optgroup, select, textarea {
    border-radius: 4px !important;
}

.btn:hover {
    background: #21659e0d !important;
    color: #21659e  !important;
}
 
.btn.rss-sub{
    border: 2px solid #21659e;
    background:  #fff;
    color: #21659e !important;
    border-radius: 4px;
}

.fa-rss {
    color: #21659e !important;
    margin-right: 5px;
}


/*Icon colors*/

.main-text-color {
    color: #21659e !important; 
}

.gr-color {
    color: #62b4a4 !important;
}

.gr-color-bgr {
    background: #62b4a4;
}


.dark-blue {
    color: #41729F !important;
}

.dark-blue-bgr {
    background: #41729F;
}


.light-blue {
    color: #68BBE3 !important;
}

.light-blue-bgr {
    background: #68BBE3;
}

.navy-marine-bgr {
    background: #4f9dc3;
}
/**/


/*News*/

#blog {
    padding: 60px 0px;
}

.post-box {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.3s;
    height: 100%;
    overflow: hidden;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
}


 .post-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
    position: relative;
    transition: 0.3s;
}

.post-img {
    overflow: hidden;
    margin: -30px -30px 15px -30px;
    position: relative;
}

.post-date {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

.post-box .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: normal;
    transition: 0.3s;
    line-height: 0;
    margin-left: 4px;
    font-size: 16px;
    color: #21659e !important;
    text-decoration: none;
}

.post-box .readmore i{
margin-left: 5px;
color: #21659e !important;
}

 .post-box .post-img img {
    transition: 0.5s;
}

.post-box:hover .post-img img {
    transform: rotate(6deg) scale(1.2);
}
/**/


/* Second links */
#second-links {
    padding: 60px 0px;
    background: #fafafa;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

 .service-item {
    padding: 20px;
    background: #fff;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 4px;
}

 .service-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-bottom: 40px;
}

.service-item h3 {
    font-weight: 600;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 18px;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #e4e4e4;
    transition: 0.3s;
}

 .service-item p {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 20px;
}

 .service-item .readmore {
    margin-top: 20px;
    color: #21659e !important;
    font-weight: 600;
    text-decoration: none;
}

.service-item .icon {
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
    font-size: 56px;
}

.service-item .icon:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #eeeeee;
    border-radius: 50px;
    z-index: -5;
    top: 10px;
    right: -20px;
    transition: 0.3s;
}

.service-item:hover .icon:before {
    background: #68BBE3;
}

 .service-item:hover h3 {
    border-color: #68BBE3;
}
/**/



/*Single page - Consultations*/
.slider {
    padding: 60px 0px;
   background: url(/img/gray-bgr.jpg);
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* background: #fafafa;*/
}

.page-heading h1 {
    color: #333 !important;
}

.breadcrumbs a {
    color: #333 !important;
    text-decoration: none;
}

.breadcrumbs {
    color: #333 !important;
}

input#startdate {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    font-size: 13px;
}

.start-date-icon {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-left: 0px !important;
}


.home-results-two h3 {
    font-size: 16px;
}

.single-consultation:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px !important;
}
/**/


/* Strategic documents */

/**/



/* Extra links */

#extra-links {
    padding-top: 60px;
    padding-bottom: 55px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}


a.info-icon {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    text-align: left;
    text-decoration: none;
}


span.info-icon-box i {
    font-size: 42px;
    margin-bottom: 15px;
    line-height: normal;
}

span.info-icon-heading {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}



div {
    line-height: normal !important;
}



.item-holder-one {
    padding: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 1px 1px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 4px;
}

.item-holder-two {
    box-shadow: rgba(9, 30, 66, 0.25) 1px 1px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 20px;
    border-radius: 4px;
}

span.content-extra {
    line-height: normal;
}

/**/


/* footer */
footer {
    padding: 60px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: #21659e;
}

ul.nav.flex-column.footer-nav a {
    text-decoration: none;
}
/**/



::placeholder {
    color: #333 !important;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333 !important;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #333!important;
  }

  .subscribe:hover {
    background: #fff !important;
  }

  /* end */