:root {
    --primary-color:#4a6484;
}

/*sidebar sub icons*/
.nav-treeview > .nav-item {
    padding-left: 10px;
}
.nav-item-sub-icon {
    font-size: 8px !important;
}
.nomenclature-btn{
    min-height: 80px;
    vertical-align: center;
}
img.sm-thumbnail {
    max-width: 100px;
}

.monthonly#ui-datepicker-div .ui-datepicker-calendar
{
    display: none;
}

table.sm-text th,
table.sm-text td{
    font-size: 14px !important;
}

.bl-primary-2 {
    border-left: 2px solid var(--primary-color) !important;
}

/*======================*/
/*START SELECT 2*/
/*=======================*/
.select2-results ul.select2-results__options li.select2-results__option[aria-disabled="true"]{
    display:none !important;
}
/*======================*/
/*END SELECT 2*/
/*=======================*/
/*==========================*/
/*START TABLE*/
/*=============================*/
.table-az-admin tr.th td, .table-az-admin tr.th th{
    background: #fff !important;
}
/*================================*/
/*END TABLE*/
/*================================*/
