/*sidebar sub icons*/
.nav-treeview > .nav-item {
    padding-left: 10px;
}
.nav-item-sub-icon {
    font-size: 8px !important;
}
.nomenclature-btn{
    min-height: 80px;
    vertical-align: center;
}
img.sm-thumbnail {
    max-width: 100px;
}
