:root {
    --primary-color:#4a6484;
}

/*sidebar sub icons*/
.nav-treeview > .nav-item {
    padding-left: 10px;
}
.nav-item-sub-icon {
    font-size: 8px !important;
}
.nomenclature-btn{
    min-height: 80px;
    vertical-align: center;
}
img.sm-thumbnail {
    max-width: 100px;
}

.monthonly#ui-datepicker-div .ui-datepicker-calendar
{
    display: none;
}

table.sm-text th,
table.sm-text td{
    font-size: 14px !important;
}

.bl-primary-2 {
    border-left: 2px solid var(--primary-color) !important;
}

/*======================*/
/*START SELECT 2*/
/*=======================*/
.select2-results ul.select2-results__options li.select2-results__option[aria-disabled="true"]{
    display:none !important;
}
select.form-control-sm ~ .select2-container--default{
/*.select2-container--default .select2-selection--multiple .select2-selection__rendered li{*/
    text-wrap: wrap;
    font-size: 16px;
}

/*.text-sm .select2-container--default .select2-selection--multiple .select2-selection__rendered,*/
/*select.form-control-sm ~ .select2-container--default .select2-selection--multiple .select2-selection__rendered {*/
/*    padding: 0.2rem 0.25rem 0.5rem;*/
/*}*/
/*hide selected options*/
.select2-results__option[aria-selected=true]{display: none;}
/*======================*/
/*END SELECT 2*/
/*=======================*/
/*==========================*/
/*START TABLE*/
/*=============================*/
.table-az-admin tr.th td, .table-az-admin tr.th th{
    background: #fff !important;
}
/*================================*/
/*END TABLE*/
/*================================*/

/*==========================*/
/*START Subjects modal tree*/
/*=============================*/
.modal .modal-body form#institutionTree{
    max-height: 500px;
    overflow-y: scroll;
}
/*.no-footer .modal-body {*/
/*    padding-bottom: 0;*/
/*}*/
/*==========================*/
/*END Subjects modal tree*/
/*=============================*/
.modal.file-preview .modal-dialog{
    max-width: 90%;
}
.modal.file-preview .modal-body img{
    max-width: 100% !important;
    height: auto !important;
}

.jstree-anchor {
    display:inline-table !important;
    white-space: initial !important;
}

