/* General */

:root {
    --primary_btn: #21659e;
    --primary_icon: #21659e;
    --secondary_color: #6c757d;
}

.text-secondary {
    color:#565d63 !important;
}

.table-light {
    --bs-table-bg: #d5e7f6;
    border-color:  #96c3e9;
}

.table {
    border-color:  #96c3e9;
}

.table-inactive {
    border-color:  #ccc !important;
}

.gray-out {
    background: #e6e6e6;
}

.list-group-flush>.list-group-item {
    border-color: #cae0f4 !important;
}

.nav-tabs {
    --bs-nav-tabs-border-color: #cae0f4 !important;
}

.dark-text {
    color: #333 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.lh-normal {
    line-height: normal;
}

.home-page-section {
    padding: 60px 0px;
}

@font-face {
    font-family: Fira Sans BGR;
    src: url(../fonts/FiraSansBGR/FiraSansBGR-Regular.woff);
    font-weight: normal;
}

* {
    font-family: "Fira Sans BGR";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

/*
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {

}
*/
.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-38 {
    font-size: 38px;
}

.fs-50 {
    font-size: 50px !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.bgr-main {
    background: #21659e;
}

.main-color {
    color: #21659e !important;
}

.main-color-light {
    color: #c0dbf2 !important;
}

.br-30 {
    border-radius: 30px !important;
}

.br-08 {
    border-radius: 8px !important;
}

.w-min-content {
    width: min-content;
}

#siteLogo, #ok, #ms, #register-link,#login-btn,#search-btn, #back-to-admin, #profile-toggle {
    transition: 0.4s;
  }

.custom-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input,
optgroup,
select,
textarea {
    border-radius: 4px !important;
}

select {
min-height: 38px !important;
max-height: 38px !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered, .select2-container .select2-selection--single .select2-selection__rendered {
display: block !important;
}

span.select2.select2-container.select2-container--default,span.select2.select2-container.select2-container--single {
    width: 100% !important;
}

.select2-container .select2-selection--multiple, .select2-container--default .select2-selection--single{
    min-height: 36px !important;
}

.select2-container--default .select2-selection--single {
    border:1px solid #ced4da !important;
}

.select2-container--default .select2-selection--multiple, .select2-dropdown {
    border:1px solid #ced4da !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f5f9fd !important;
    border: 1px solid #cae0f4 !important;
    color:#21659e !important;
    white-space: initial;
    margin-bottom: 5px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background: #d5e7f6 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #21659e !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #21659e !important;
}

.custom-hr {
    border-color: #c0dbf2 !important;
    margin: 0 auto;
    opacity: 1 !important;
}

.tablinks.active {
    color: #21659e !important;
}

.tablinks {
    color: #333 !important;
    font-size: 20px !important;
}

.tab.nav.nav-tabs .nav-item {
    padding-bottom: 0px !important;
}

.custom-card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
    border-radius: 8px;
    border-top: 3px solid #20659e;
}

.accordion .card.custom-card .card-header {
    border-bottom: unset;
}

.main-color-light-bgr {
    /* background: #c0dbf2 !important;*/
    background: #d5e7f6 !important;
}

.sort-row {
    text-align: center;
}

.comment-background {
    /* background: #eaf3fb75;
    border: 1px solid #cae0f4;*/
    background: #eaf3fb2e;
    box-shadow: rgb(33 101 158 / 37%) 0px 0px 5px 0px;
}

/* Header and top bar*/
header .navbar-toggler {
    font-size: 14px !important;
}

nav.navbar .btn {
    color: #fff;
}

.logo-link {
    border-right: 2px solid #20659e;
}

.login-search {
    border-radius: 18px !important;
}

.search-btn {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

#topbar {
    min-height: 40px;
    padding: 10px 0px;
    border-bottom: 1px solid #e4e4e4;
    padding-top: 10px;
    background: #fff;
}


#topbar a {
    text-decoration: none;
    font-weight: 400;
}

header {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 1px;
}

.navbar {
    background: #21659e;
    box-shadow: rgb(27 81 126) 0px 1px 4px;
}

#siteLogo {
    width: 55px;
    transition: 0.4s;
    height: 100%;
}

.home-icon-menu {
    padding-left: 0px !important;
}

nav.navbar a.nav-link.active {
    border-bottom: 2px solid #fff;
    color: #fff !important;
    border-top: 2px solid transparent;
}

nav.navbar a.nav-link {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    transition: 500ms;
    font-size: 15px;
    color: #fff !important;
    padding: 0px !important;
    line-height: initial;
    transition: 0.4s;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
    box-shadow: unset !important;
}

.nav-item {
    padding: 10px;
    transition: 0.4s;
}

nav.navbar a.nav-link:hover {
    border-bottom: 2px solid #fff;
    color: #fff !important;
}

/*Nav dropdown*/
ul.dropdown-menu.p-1.show {
    min-width: max-content;
    width: 150px;
}

ul.dropdown-menu .nav-item {
    border-bottom: 1px solid #c0dbf2 !important;
}

ul.dropdown-menu .nav-item a {
    font-size: 15px;
}

/**/

/* Slider */
.home-slider {
    margin-top: -1px !important;
}

.carousel-item.active img {
    filter: brightness(0.5);
    min-height: 350px;
    object-fit: cover;
    object-position: center;
}

.centered-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-heading h1 {
    text-shadow: 1px 1px 2px #333333;
    text-transform: uppercase;
}

/**/

/* Left Sidebar */
a.left-link {
    background: #21659e;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    text-decoration: none;
    transition: 100ms;
    margin-bottom: 20px;
    min-height: 80px;
    word-break: break-word;
}

a.left-link:hover {
    transform: scale(1.02);

    span.link-text {
        transform: scale(1.02);
    }

    span.left-link-icon i {
        transform: scale(1.02);
    }
}

span.link-text {
    width: 100%;
    color: #fff !important;
    text-align: start;
    font-size: 18px;
}

span.left-link-icon i {
    font-size: 38px;
    line-height: normal;
    display: block;
    margin: 0px 12px;
}

/**/

/*Summer note Richtext*/
.summernote-wrapper .panel-heading.note-toolbar {
    background: #f5f9fd !important;
    border-bottom: 1px solid #cae0f4 !important;
}

.summernote-wrapper .note-editor.note-airframe,
.summernote-wrapper .note-editor.note-frame {
    border: 1px solid #cae0f4 !important;
}

.summernote-wrapper .note-editor.note-airframe .note-statusbar,
.summernote-wrapper .note-editor.note-frame .note-statusbar {
    background-color: #f5f9fd;
    border-color: #cae0f4 !important;
}

/**/

/* Form and Public Consultations*/
.modal-dialog.file-display {
    max-width: 80%;
}

.edit-consultation {
    position: absolute;
    right: 0;
}

.info-consul {
    text-align: right;
}

.info-consul h4 {
    font-size: 18px !important;
}

/*.public-page {*/
/*    padding: 60px 0px;*/
/*}*/

.form {
    position: relative;
}

.form .fa-search {
    position: absolute;
    left: 20px;
    color: #9ca3af;
}

.form span {
    position: absolute;
    right: 17px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.left-pan {
    padding-left: 7px;
}

.left-pan i {

    padding-left: 10px;
}

.form-input {
    height: 40px;
    text-indent: 33px;
    border-radius: 8px;
}

.form-input:focus {

    box-shadow: none;
    border: none;
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input {
    height: 40px;
    text-indent: 25px;
    font-size: 14px;
}


.search input:focus {
    box-shadow: none;
}

.search .fa-search {
    position: absolute;
    top: 12px;
    left: 13px;
}

.search button {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 40px;
    width: auto;
    color: #fff !important;
    background: #21659e !important;
    align-items: center;
    display: flex;
    font-size: 15px;
    border-radius: 4px;
}

.filter-results select {
    font-size: 14px !important;
}

.search-inputs {
    border-right: 1px solid #e4e4e4;
    padding: 0px 30px 30px 15px;
}

.home-results .row {
    margin-bottom: 1.5rem;
}

.home-results .row:last-child {
    margin-bottom: 0px;
}

.strip-header-words {
    height: 65px;
    overflow: hidden;
}

.all-consultations h3 {
    font-size: 20px !important;
    font-weight: 600;
}

a.consul-item p {
    margin-bottom: 10px;
}

.consul-item {
    text-decoration: none !important;
}

.consult-body {
    padding: 20px;
    width: 100%;
}

.consult-item-header-edit {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 20px;
}

.meta-consul {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.single-consultation, .single-library {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 4px;
    transition: all 200ms;
}

.single-consultation:hover, .single-library:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px !important;
}

.consult-img-holder {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.consult-img {
    height: 100%;
    object-fit: cover;
    width: 200px;
}

.consult-item-header-link a h3 {
    font-size: 18px !important;
}

.fa-arrow-right.read-more,
.consul-cat {
    color: #21659e !important;
    font-weight: 600;
}

.filter-results label,
form label {
    font-weight: 600;
    font-size: 16px;
}

.rss-sub i {
    margin-right: 5px;
}

.consult-img-holder i {
    font-size: 55px;
}


ul.list-group.questionnaire li {
    border-left: unset;
    border-radius: unset;
    border-right: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/**/


/* Box with icons and links */
#usefull-links {
    padding: 60px 0px;
    background: #fafafa;
}

a.box-link {
    display: flex;
    transition: 250ms;
    text-decoration: none;
    color: #fff !important;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.info-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a.box-link:hover {
    transform: scale(1.02);
}

a.box-link span {
    color: #fff !important;
    font-size: 24px;
    width: 100%;
    display: block;
    padding-bottom: 10px;
}

.icon-wrap {
    max-height: 84px;
}

.icon-wrap i {
    font-size: 65px;
}

.link-heading {
    font-size: 20px;
    text-transform: uppercase;
}

.page-item.active a {
    background: #21659e !important;
    color: #fff !important;
    border-radius: 4px;
}

.page-link {
    border: unset;
}

/**/


.btn.rss-sub,
.btn.btn-primary {
    border: 2px solid #21659e;
    background: #fff !important;
    color: #21659e !important;
    border-radius: 30px;
}

.btn.btn-success {
    border: 2px solid #198754;
    background: #fff !important;;
    color: #198754 !important;;
    border-radius: 30px !important;
}

.btn.btn-success:hover {
    background:#e9fbf3 !important;
}

:not(.btn-check) + .btn.btn-success:active:focus-visible {
    color: #198754 !important;
}



.btn.btn-danger {
    border: 2px solid #dc3545;
    background: #fff !important;
    color: #dc3545 !important;
    border-radius: 30px !important;
}

.btn.btn-danger:hover, .btn.btn-reject:hover {
    background: #ffe6e6 !important;
}

.btn.btn-reject {
    border: 2px solid #dc3545;
    background:  #dc3545 !important;
    color: #fff !important;
    border-radius: 30px !important;
}

.danger-bgr {
   background: #dc3545 ;
}

.reg-btn {
    border-radius: 30px !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    border: 2px solid #fff;
    background: #21659e !important;
    color: #fff !important;
    border-radius: 30px;
}

.btn.rss-sub:hover,
.btn.btn-primary:hover {
    background: #eaf3fb !important;
}


.fa-rss {
    color: #21659e !important;
    margin-right: 5px;
}


/*Icon colors*/
.main-text-color {
    color: #21659e !important;
}

.gr-color {
    color: #22987f !important;
}

.gr-color-bgr {
    background: #22987f !important;
}

.dark-blue {
    color: #41729F !important;
}

.dark-blue-bgr {
    background: #41729F;
}

.light-blue {
    color: #248dc2 !important;
}

.light-blue-bgr {
    background: #248dc2 !important;
}

.navy-marine-bgr {
    background: #4f9dc3;
}

.navy-marine {
    color: #4f9dc3;
}

.red-color {
    color: #dc3545;
}

/**/

/*Library list*/
.library-img-holder {
    min-width: 250px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.library-img-holder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
/**/

/*News*/
.blog-category {
    color: #fff !important;
    background: #21659e;
    padding: 3px 10px;
    border-radius: 12px;
    font-size: 14px;
    text-transform: uppercase;
}

#blog {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    background: #fafafa;
}

.short-decription {
    font-size: 14px;
}

.post-box {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.3s;
    height: 100%;
    overflow: hidden;
    padding: 15px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
}


.post-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
    position: relative;
    transition: 0.3s;
}

.post-img {
    overflow: hidden;
    margin: -30px -30px 15px -30px;
    position: relative;
}

.post-date {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

.post-box .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: normal;
    transition: 0.3s;
    line-height: 0;
    margin-left: 4px;
    font-size: 16px;
    color: #21659e !important;
    text-decoration: none;
}

.post-box .readmore i {
    margin-left: 5px;
    color: #21659e !important;
}

.post-box .post-img img {
    transition: 0.5s;
    width: 100%;
}

.post-box:hover .post-img img {
    transform: rotate(6deg) scale(1.2);
}

/**/


/* Second links */
#second-links {
    background: #fafafa;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

/*
.service-item {
   padding: 20px;
    background: #fff;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 4px;
}
*/

.service-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-bottom: 40px;
}

.service-item a {
    color: #333 !important;
}

.service-item h3 {
    font-weight: 600;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 20px;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #c0dbf2;
    transition: 0.3s;
}

.service-item p {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 20px;
}

.service-item .readmore {
    margin-top: 20px;
    color: #21659e !important;
    font-weight: 600;
    text-decoration: none;
}

.service-item .icon {
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
    font-size: 56px;
}

.service-item .icon:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #c0dbf2;
    border-radius: 50px;
    z-index: -5;
    top: 10px;
    right: -20px;
    transition: 0.3s;
}

.service-item:hover .icon:before {
    background: #57a0db;
}

.service-item:hover h3 {
    border-color: #57a0db;
}

/**/

#slider {
    margin-top: 126px;
}

/*Forum*/
.forum-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forum-header-edit {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 20px;
    position: relative;
    margin-bottom: -25px;
    top: 5px;
    right: 5px;
}

/**/

/*Single page - Consultations*/
.slider {
    padding: 60px 0px;
    background: url(../img/slider-img.png);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #21659e;
}

.page-heading h1 {
    color: #fff !important;
}

.breadcrumbs a {
    text-decoration: none;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.breadcrumbs a:hover {
    color: #21659e;
}

.breadcrumbs {
    background: #f8f8f8;
    box-shadow: rgb(99 99 99 / 45%) -1px 0px 5px 0px;
}

li.breadcrumb-item {
    font-size: 14px !important;
}

input#startdate {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    font-size: 13px;
}

.start-date-icon {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-left: 0px !important;
}

.consul-cat {
    font-size: 14px !important;
    color: #333 !important;
}

.consul-item h3 {
    font-size: 18px;
}

.single-consultation:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px !important;
}

/**/


/* Strategic documents */
/*
.tree-parent{
    margin-top: 0.5rem;
    display: none;
  }
  .tree-parent.open{
    display: block;
  }

  .tree-item{
    position: relative;
    margin-left: 1.25rem;
    margin-left: 1.7rem;
    line-height: 2rem;
  }

    .tree-item:last-child{
      border: none;
    }

    .tree-item:before{
      content:'';
      display: block;
      border-top: 2px solid #cae0f4;
      border-left: 2px solid #cae0f4;
      height: 100%;
      width: 1rem;
      position: absolute;
      bottom: -1.1rem;
      left: -0.9rem;
      left: -1.3rem;
      z-index: -1;
    }

    .tree-item:last-child:before{
      border-left: none;
    }

   .tree-item:first-child:after{
      content:'';
      display: block;
      border-left: 2px solid #cae0f4;
      height: 100%;
      width: 1rem;
      position: absolute;
      bottom: 0.9rem;
      left: -0.9rem;
      left: -1.3rem;
      z-index: -1;
    }

    .tree-item a i{
        margin-right: 0.5rem;
  } */
.easy-tree li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0 5px;
    position: relative;
}

.easy-tree li::before {
    border-left: 2px solid #c0dbf2;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px;
}

.easy-tree li::after {
    border-top: 2px solid #c0dbf2;
    height: 20px;
    top: 29px;
    width: 35px;
}

.easy-tree li::before,
.easy-tree li::after {
    content: '';
    left: -30px;
    position: absolute;
    right: auto;
}

.easy-tree li:last-child::before {
    height: 29px;
}

.easy-tree>ul>li::after,
.easy-tree>ul>li::before {
    border: 0;
}

.easy-tree li::before,
.easy-tree li::after {
    content: '';
    left: -30px;
    position: absolute;
    right: auto;
}

.easy-tree li.parent_li>span {
    cursor: pointer;
}

.easy-tree li>span {
    border: 2px solid #c0dbf2;
    border-radius: 3px;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
}

.easy-tree li>span>a {
    color: #333;
    text-decoration: none;
}

/**/

/* Extra links */
#extra-links {
    padding-top: 60px;
    padding-bottom: 55px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}


a.info-icon {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    text-align: left;
    text-decoration: none;
}


span.info-icon-box i {
    font-size: 42px;
    margin-bottom: 15px;
    line-height: normal;
}

span.info-icon-heading {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}


.item-holder-one {
    padding: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 1px 1px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 4px;
}

.item-holder-two {
    box-shadow: rgba(9, 30, 66, 0.25) 1px 1px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 20px;
    border-radius: 4px;
}

span.content-extra {
    line-height: normal;
}

/**/


/* footer */
footer {
    padding: 60px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: #21659e;
}

ul.nav.flex-column.footer-nav a {
    text-decoration: none;
}

footer .nav-item {
    padding: 5px;
}

/**/



::placeholder {
    color: #333 !important;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #333 !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #333 !important;
}

.subscribe:hover {
    background: #fff !important;
}

/*Register*/
#register {
    padding: 60px 0px;
}

#register .input-group-text,
.login-form .input-group-text {
    padding: 6px 20px !important;
    background: #eaf3fb;
    min-width: 62px;
    align-items: center;
    display: flex;
    justify-content: center;

}


#register .input-group-text i,
.login-form .input-group-text i {
    color: #20659e !important;
}

#register label.btn.btn-outline-primary {
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

#register .btn-outline-primary {
    border-color: #20659e !important;
}

.user-select {
    width: 100%;
}

.invalid-feedback {
    display: block;
}

.register-form .btn-group > .btn-check:checked + .btn {
    border-color: #21659e;
    background: #21659e;
    color: #fff;
}

/*Login*/
#login {
    padding: 60px 0px;
}


#login .input-group-text {
    padding: 6px 20px !important;
    background: #eaf3fb;

}


#login .input-group-text i {
    color: #20659e !important;
}

.cstm-btn:hover {
    background: #f4f7fa !important;
    border: 2px solid #20659e !important;
}

.checkbox-field {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

input[type=checkbox] {
    accent-color: #20659e !important;
}

.login-form,
.register-form {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.login-remember {
    display: flex;
    justify-content: space-between;
}

/**/

/* end */

.obj-section .obj-section-title {
    color: var(--primary_icon);
    font-size: 28px;
    font-weight: bold;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #000 50%, transparent 50%) 100% 1;
    margin-bottom: 10px;
}

.obg-files-section .obj-file {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.obg-files-section .obj-file:hover {
    text-decoration: underline;
}

.obg-files-section .obj-file i {
    color: var(--primary_icon);
}

.alert.alert-success.alert-dismissible {
    z-index: auto !important;
}

.obg-comments-section .obj-comment .info {
    margin-bottom: 5px;
}

.obg-comments-section .obj-comment .comment {
    margin-bottom: 20px;
    font-style: italic;
    background-color: #fafafa;
    padding: 10px;
    border-radius: 10px;
}

.gradient-one {
    background: linear-gradient(90deg, rgb(58 112 185) 0%, rgb(2 238 227) 100%);
}

.gradient-two {
    background: linear-gradient(90deg, rgb(74 86 144) 0%, rgb(182 175 242) 100%);
}

.gradient-three {
    background: linear-gradient(90deg, rgb(18 123 118) 0%, rgb(101 218 200) 100%);
}

.gradient-four {
    background: linear-gradient(90deg, rgb(122 104 200) 0%, rgb(14 226 232) 100%);
}

/* PRISS*/
.pris-row {
    border-bottom: 1px solid #c0dbf2;
    align-items: center;
}

.col-md-3.pris-left-column {
    font-weight: 500;
    color: #20659e !important;
    font-size: 18px;
}

.col-md-3.pris-left-column i {
    font-size: 20px;
    width: 30px;
}

.pris-tag {
    background: #20659e;
    color: #fff !important;
    padding: 2px 10px;
    border-radius: 12px;
    font-size: 15px;
    display: inline-flex;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.pris-list a.consul-item p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.anotation p {
    margin-bottom: 0px !important;
}
/*end priss*/

/*KS*/
.active-ks {
    color: #fff !important;
    background: rgba(var(--bs-success-rgb));
    padding: 2px 10px;
    border-radius: 12px;
    font-size: 13px;
    display: inline-flex;
    text-transform: uppercase;
}

.inactive-ks {
    background: #ccc;
    padding: 2px 10px;
    border-radius: 12px;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-flex;
}

.document-wrapper-ks {
    border-bottom: 1px solid #cae0f4;
    font-size: 14px;
}

.doc-info-item {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
}
/**/

/*Timeline*/
.timeline {
    border-left: 1px solid #20659e;
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: #20659e;
    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}

li.timeline-item:last-child {
    margin-bottom: 0px !important;
}

.preview-file-modal.btn-outline-secondary:hover {
    font-weight: bold;
    color: var(--secondary_color) !important;
    background: #fff !important;
}

/*Left menu*/
.left-nav-panel {
    background: #f5f9fd;
    border-radius: 4px;
    box-shadow: rgb(33 101 158 / 20%) 0px 0px 3px 0px;
    border: 1px solid #cae0f4;
}

.active-item-left {
    background: #20659e;
    border-radius: 4px;
    width: auto;
    display: inline-block;
    transition: 0.2ms;
}

.active-item-left a {
  color:#fff !important;
}

.active-item-left a:hover {
    color:#fff !important;
    text-decoration: underline !important;
}

/*Modal file preview*/
.modal.file-preview .modal-dialog {
    max-width: 90%;
}

.modal.file-preview .modal-body img {
    max-width: 100% !important;
    height: auto !important;
}

/**/

/*Custom box link*/
.suggestion-box {
    background: #fafafa;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/**/

/*Legislative initiative*/
.active-li {
    color: #fff !important;
    background: rgba(var(--bs-success-rgb));
    padding: 3px 10px;
    border-radius: 12px;
    font-size: 13px;
    text-transform: uppercase;
}

.send-li {
    color: #fff !important;
    background: #028192;
    padding: 3px 10px;
    border-radius: 12px;
    font-size: 13px;
    text-transform: uppercase;
}

.closed-li {
    color: #fff !important;
    background: rgba(var(--bs-danger-rgb));
    padding: 3px 10px;
    border-radius: 12px;
    font-size: 13px;
    text-transform: uppercase;
}

.voted-li {
    color: #fff !important;
    background: #20659e;
    padding: 3px 10px;
    border-radius: 12px;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: -1px;
}

.support-count-li {
    font-size: 32px;
    border: 2px solid #21659e;
    border-radius: 6px;
    padding: 5px;
}

/**/

/*Calendar*/
.event-legend {
    display: flex;
    align-items: center;
}

.past-event-legend {
    width: 30px;
    height: 30px;
    background:  #e6e6e6;
    display: block;
}

.current-day-legend {
    width: 30px;
    height: 30px;
    background:  #a9efce;
    display: block;
}

.future-event-legend {
    width: 30px;
    height: 30px;
    background:  #d5e7f6;
    display: block;
    cursor: pointer;
}

.calendar-wrap .past-event{
    background:  #e6e6e6;
    cursor: pointer;
}

.calendar-wrap .current-day-calendar{
background:  #a9efce;
text-decoration: underline;
cursor: pointer;
}

.calendar-wrap .day-number {
    font-size: 26px;
}

.calendar {
    width: 100%;
    background-color: #fff;
  }

  .calendar-head {
    display: flex;
    min-height: 30px;
    background-color: #21659e;
    color: #fff;
  }

  .dayname {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-transform: uppercase;
    color: #ffffff;
    overflow: hidden;
    background-color: #21659e;
    font-weight: 400;
    text-align: center;
    line-height: 1;
    font-size: 18px;
  }

  .calendar .row {
    display: flex;
    min-height: 100px;
  }

  .day {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    color: #333;
    box-shadow: -1px -1px #D5D7DB, inset -1px -1px 0 0 #D5D7DB;
  }

  .day.next {
    color: #565d63;
  }

  .day.event {
    background: #d5e7f6;
  }

  .modal-dialog.event-screen-dialog {
    min-width: 90%;
  }

  .past-date-event {
    background: #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .future-date-event {
    background: #d5e7f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
/**/

/*Subscribe*/
.subscribe-action .btn {
    transition: 50ms;
}

.subscribe-action .btn.bgr-main:hover{
    background: #21659e;
    transform: scale(1.08);
}
.subscribe-action .btn.btn-warning:hover{
    background: #ffc107;
    transform: scale(1.08);
}
.subscribe-action .btn.danger-bgr:hover{
    background: #dc3545;
    transform: scale(1.08);
}


ul.list-group.subscribe-items li {
    border-left: unset;
    border-radius: unset;
    border-right: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-row-subscribe .subscribe-action {
    min-width: 120px;
}
/**/

/*Search screen modal dialog*/
#searchModal {
   background-color:rgb(30 30 25 / 50%) !important;
}

.search-screen .modal-content, .search-site-input {
    background: unset !important;
    border: unset !important;
}

.modal-dialog.search-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  margin: 0;
  width: 70%;
  min-width: 65%;
}

.search-wrapper-modal {
    border-bottom:2px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-site-input {
    font-size: 38px;
    color: #fff;
}

.search-wrapper-modal i {
    font-size: 38px;
}

.search-site-input:focus-visible {
    outline: unset !important;
    border: unset !important;
}

.search-site-input::placeholder {
    color: #fff !important;
  }

  .search-close {
    transition: transform 0.3s ease-out;
  }

  .search-close:hover {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }

  .search-wrapper-modal .fa-search {
    transition: transform 0.15s ease-out;
  }

  .search-wrapper-modal .fa-search:hover {
    transform: scale(1.2);
  }

/**/

/*404 page*/
#not-found-search {
    width: 65%;
    min-width: 60%;
    border: 2px solid #21659e;
    border-radius: 30px !important;
    min-height: 40px;
    padding-left: 10px;;
}
/**/

/*Institution modal*/
button.btn.btn-sm.btn-primary.ms-1.pick-institution {
    height: auto !important;
    width: auto;
    line-height: 0;
    font-size: 20px;
    padding: 0;
    border: 0;
    margin-left:10px;
}
/**/
/*START INSTITUTION LEVEL CLASS*/
/*=====================*/
.institution-level {
    border-radius: 30px;
    text-decoration: none;
    font-size: 13px;
    padding: 2px 10px
}
.level-central{
    border: 2px solid #21659e;
    background: #21659e !important;
    color: #fff !important;
}
.level-central:hover{
    color: #21659e !important;
    background: #fff !important;
}

.level-central_other{
    border: 2px solid #198754;
    background: #198754 !important;
    color: #fff !important;
}
.level-central_other:hover{
    color: #198754 !important;
    background: #fff !important;
}

.level-area{
    border: 2px solid #6f42c1;
    background: #6f42c1 !important;
    color: #fff !important;
}
.level-area:hover{
    color: #6f42c1 !important;
    background: #fff !important;
}

.level-municipal{
    border: 2px solid #dc3545;
    background: #dc3545 !important;
    color: #fff !important;
}
.level-municipal:hover{
    color: #dc3545 !important;
    background: #fff !important;
}
/*=====================*/
/*START INSTITUTION LEVEL CLASS*/

/*START ACT TYPE CLASS*/
/*=====================*/
.act-type {
    border-radius: 30px;
    text-decoration: none;
    font-size: 13px;
    padding: 2px 10px
}
.act-type-1{
    border: 2px solid #21659e;
    background: #21659e !important;
    color: #fff !important;
}
.act-type-1:hover{
    color: #21659e !important;
    background: #fff !important;
}

.act-type-2{
    border: 2px solid #198754;
    background: #198754 !important;
    color: #fff !important;
}
.act-type-2:hover{
    color: #198754 !important;
    background: #fff !important;
}

.act-type-3{
    border: 2px solid #6f42c1;
    background: #6f42c1 !important;
    color: #fff !important;
}
.act-type-3:hover{
    color: #6f42c1 !important;
    background: #fff !important;
}

.act-type-4{
    border: 2px solid #F39189;
    background: #F39189 !important;
    color: #fff !important;
}
.act-type-4:hover{
    color: #F39189 !important;
    background: #fff !important;
}

.act-type-5{
    border: 2px solid #AC7088;
    background: #AC7088 !important;
    color: #fff !important;
}
.act-type-5:hover{
    color: #AC7088 !important;
    background: #fff !important;
}

.act-type-6{
    border: 2px solid #ECA869;
    background: #ECA869 !important;
    color: #fff !important;
}
.act-type-6:hover{
    color: #ECA869 !important;
    background: #fff !important;
}

.act-type-7{
    border: 2px solid #7895B2;
    background: #7895B2 !important;
    color: #fff !important;
}
.act-type-7:hover{
    color: #7895B2 !important;
    background: #fff !important;
}

.act-type-8{
    border: 2px solid #C98474;
    background: #C98474 !important;
    color: #fff !important;
}
.act-type-8:hover{
    color: #C98474 !important;
    background: #fff !important;
}

.act-type-9{
    border: 2px solid #829460;
    background: #829460 !important;
    color: #fff !important;
}
.act-type-9:hover{
    color: #829460 !important;
    background: #fff !important;
}

.act-type-10{
    border: 2px solid #CBB279;
    background: #CBB279 !important;
    color: #fff !important;
}
.act-type-10:hover{
    color: #CBB279 !important;
    background: #fff !important;
}

.act-type-11{
    border: 2px solid #7286D3;
    background: #7286D3 !important;
    color: #fff !important;
}
.act-type-11:hover{
    color: #7286D3 !important;
    background: #fff !important;
}

.act-type-12{
    border: 2px solid #73A9AD;
    background: #73A9AD !important;
    color: #fff !important;
}
.act-type-12:hover{
    color: #73A9AD !important;
    background: #fff !important;
}

.act-type-13{
    border: 2px solid #632626;
    background: #632626 !important;
    color: #fff !important;
}
.act-type-13:hover{
    color: #632626 !important;
    background: #fff !important;
}

.act-type-14{
    border: 2px solid #C6D57E;
    background: #C6D57E !important;
    color: #fff !important;
}
.act-type-14:hover{
    color: #C6D57E !important;
    background: #fff !important;
}
/*=====================*/
/*START ACT TYPE  CLASS*/

/*Responsive*/
@media (min-width:992px) {
    .top-bar-left-side-mobile {
        display: none !important;
    }


    .side-menu {
        min-width: 320px;
        max-width: 320px;
    }

    .right-side-content {
        width: calc(100% - 320px);
    }
}

@media (max-width:991px) and (min-width:768px) {
    #slider {
        margin-top: 115px;
    }
}

@media (max-width:991px) {
    .top-bar-left-side-desktop {
        display: none !important;
    }

    .side-menu {
    min-width: 100%;
    max-width: 100%;
    }

    .right-side-content {
        width: 100%;
    }

    nav.navbar a.nav-link.active,
    nav.navbar a.nav-link:hover {
        width: max-content;
    }

    .home-icon-menu {
        margin-top: 10px;
        padding-left: 10px !important;
    }

    .home-icon-menu .nav-link i {
        font-size: 24px;
    }
}

@media(max-width:767px) {
    .voted-li,.support-count-li, .closed-li {
        width: fit-content;
    }

    /*Event calendar*/
    .desktop-day {
        display: none !important;
    }

    .mobile-day {
        display: flex !important;
    }

    .calendar .row {
        min-height: 50px;
    }

    .calendar-wrap .day-number {
       font-size: 4.5vw;
    }
    /**/

    /*Public consultation mobile*/
    .meta-consul {
        flex-direction: column !important;
        align-items: start !important;
    }

    .meta-consul span{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .meta-consul a{
       display: inline-block !important;
       width: fit-content;
    }

    .item-separator {
        display: none !important;
    }
    /**/

    .library-img-holder {
        max-width: 100%;
    }

    .single-library {
        flex-direction: column;
    }

    .library-img-holder img {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0px;
    }

    .doc-info-item {
        margin-top: 10px;
    }

    .document-info-field {
        flex-direction:column;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__rendered{
        min-height: 38px !important;
        margin-top: 2px;
    }

    .forum-header-edit {
        display: inline-block;
        margin-bottom: 0px;
        width: 100%;
        margin-left: 0px;
    }

    #slider {
        margin-top: 115px;
    }

    .modal-dialog.search-screen {
        min-width: 90%;
      }

      .search-site-input {
          font-size: 28px;
          color: #fff;
      }

      .search-wrapper-modal i {
          font-size: 28px;
      }

}


@media (max-width:576px) {
    .team-member-contact{
    flex-direction:column !important;
    }

    .calendar-info {
        flex-direction: column-reverse;
    }

    .calendar-month  {
       margin-top: 15px;
       margin-bottom: 15px !important;
    }

    .event-legend {
        margin-bottom: 15px;
    }

    .calendar-legend {
        flex-direction: column;
    }

    .subscribe-action {
        text-align: left !important;
        margin-top: 10px;
    }

    .inner-row-subscribe .subscribe-action {
        min-width: 120px;
        text-align: left !important;
        margin-top: 10px;
    }

    ul.list-group.subscribe-items li {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        padding: 15px 0px;
    }

    .contact-info {
        align-items: stretch !important;
    }

    .profile-tabs {
        flex-direction: column;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    .consult-item-header-edit {
        margin-bottom: 10px;
    }

    .single-consultation {
        flex-direction: column;
    }

    .consult-item-header {
        flex-direction: column-reverse;
    }

    .consult-img-holder {
        min-height: 125px;
    }

    .consult-img-holder i {
        font-size: 70px;
    }

    .action-btn-wrapper .col-md-9.text-end.col-sm-12 {
        text-align: left !important;
    }

    .action-btn-wrapper button,  .action-btn-wrapper a {
        display: block;
        width: 85%;
        margin: auto;
        margin-top: 10px;
    }
}


@media (max-width:480px) {
    .preview-download {
        display: flex !important;
        margin-top: 10px;
        align-items: center;
    }

    .dayname {
        font-size: 16px;
    }

    /*Public consultation*/
    .meta-consul span {
        display: flex;
        flex-direction: column;
    }
    /**/

    .home-slider {
        margin-top: -5px !important;
    }

    #slider {
        margin-top: 108px;
    }

    #ok, #ms {
        font-size: 14px;
    }

    .action-btn-wrapper button, .action-btn-wrapper a{
        width: 100%;
    }

    .profile-tabs {
        width: 100% !important;
    }

    .search-site-input {
        font-size: 22px;
        color: #fff;
    }

    .search-wrapper-modal i {
        font-size: 22px;
    }
}

@media (max-width:380px) {
    .centered-heading h1 {
        font-size: 24px !important;
    }

    .calendar .row {
        min-height: 35px;
    }

    .calendar-wrap .day-number {
        font-size: 4vw;
     }
}

#slider-range .ui-state-default, #slider-range .ui-widget-content .ui-state-default, #slider-range .ui-widget-header .ui-state-default,
#slider-range .ui-button, html #slider-range .ui-button.ui-state-disabled:hover,
html #slider-range .ui-button.ui-state-disabled:active {
    border: 1px solid #21659e;
    background: #21659e;
    font-weight: normal;
    color: #21659e;
    border-radius: 20px;
}
/**
 Loader
 */
#ajax_loader_backgr {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    background: #fff;
    opacity: .7
}
#ajax_loader h2 {
    position: relative;
    left: -42%;
    margin-bottom: 30px;
}
#ajax_loader a {
    display: block;
    font-size: 20px;
    position: relative;
    left: -40%;
    margin-top: 30px;
    text-decoration: none;
    text-align: center;
    color: #335cff;
}
#ajax_loader {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 45%;
    left: 49%;
}
.sk-cube-grid {
    width: 40px;
    height: 40px;
}
.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #21659E;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}
